/****************/
/* GENERAL */
/****************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.6rem;
}

.flex--column {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/*
******************************* 
    TESTIMONIAL SECTION
*******************************
*/
.section-testimonial {
  margin: 3.6rem auto;
  max-width: 125rem;
}

.testimonials {
  padding: 6.4rem;
}

.testimonial {
  padding: 2.4rem 3.6rem;
  border-radius: 9px;
  position: relative;
  box-shadow: 2.6rem 4rem 9rem rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.testimonial-img {
  border-radius: 50%;
  border: 3px solid #a775f1;
  width: 3rem;
  height: 3rem;
}

.second .testimonial-img,
.third .testimonial-img,
.fourth .testimonial-img {
  border: none;
}

.first {
  grid-column: span 2;
  background-color: #733fc8;
  color: #fff;
}

.second {
  background-color: #48556a;
  color: #fff;
}

.third {
  color: #48556a;
  grid-row: span 2;
  background-color: #fff;
}

.fourth {
  color: #48556a;
  background-color: #fff;
}
.fifth {
  grid-column: span 2;
  background-color: #19202d;
  color: #cfcfcf;
}

/* .bg--quote {
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
} */

/* 1219 x 676 */

.bg--quote {
  position: absolute;
  top: 0;
  right: 6rem;
  z-index: -1;
}

.author-container {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.3rem;
}

.testimonial-tag {
  font-size: 1.1rem;
}

.testimonial-text--summary {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 550;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0;
}

/* MEDIA QUERIES */

@media (max-width: 72em) {
  .section-testimonial {
    max-width: 78rem;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .testimonial:nth-child(3) {
    grid-column: span 2;
    grid-row: 4;
  }

  .bg--quote {
    right: 16rem;
  }
}

@media (max-width: 44em) {
  .section-testimonial {
    max-width: 43rem;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .testimonial:nth-child(3) {
    grid-row: 5;
  }

  .testimonial:nth-child(4) {
    grid-row: 3;
  }

  .grid .testimonial {
    grid-column: auto;
  }

  .third {
    background-color: #fff;
  }

  .bg--quote {
    display: none;
  }
}
